/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image-header);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  inline-size: 100%;
  margin: 0 auto;
}

.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  align-items: center;
  position: relative;
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  border-block-start: 1px solid  var( --accent-color);
  border-inline-end: 1px solid  var( --accent-color);
  justify-self: flex-end;
  align-self: start;
  position: absolute;
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid  var( --accent-color);
  border-block-end: 1px solid  var( --accent-color);
  justify-self: flex-end;
  align-self: start;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__decorative-element::after {
  content: '';
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 3px;
  background-color: var(--accent-color);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 42px;
}

.header__decorative-element {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 25px;
  align-self: end;
  margin-inline-end: 28px;
  display: flex;
  align-items: center;
}


.header__theme-menu {
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 18px;
} 

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 3px 13px;
  background-color: transparent;
  color: var(--accent-color);
  text-align: center;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 18px;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
  pointer-events: none
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  color: var(--focus-color);
  text-shadow: 4px 4px 0px var(--text-shadow-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 95.7px;
}

.title-decor {
  background-color: var(--bg-color-dekor);
}

.description-text {
  color: var(--main-bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 23px;
}

.main__title {
  margin-block-start: 50px;
  margin-block-end: 20px;
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 23.4px;
}

.main__section-concentrate .main__title:first-child {
  margin-block-start: 40px;
}

.main {
  padding: 0 10px;
}

.main-block-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-title {
  color: var(--main-bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.block-description {
  color: var(--main-text-color) ;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.description-link {
  text-decoration: none;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  text-shadow: 2px 1px 0 var(--text-shadow-color);
  border: 1px solid transparent;
}
.description-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.description-link:focus {
  outline: none;
}

.description-link:focus-visible {
  border-color: var(--main-text-color);
}

.block-title-font-normal {
  color: var(--main-bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.main__section-concentrate-reasons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-foto {
  padding: 50px 10px 40px 10px;
}

.main__section-foto-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.main__section-foto-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  padding: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__text {
  color: var(--focus-color);
  text-shadow: 2px 2px 0px var(--text-shadow-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 95.7px;
}

/* Далее → медиазапросы на планшет и десктоп */


@media (width < 768px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--text-shadow-color-size);
  } 

  .footer__text {
    text-shadow: 4px 4px 0px var(--text-shadow-color-size)
  }
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decorative-element::after {
    left: 42px;
  }

  .header__decorative-element {
    top: 20px;
    right: 10px;
    margin-inline-end: 38px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
    margin-left: -20px;
  }

  .header__description {
    max-width: 364px;
    justify-self: end;
  }

  .main {
    padding: 0 20px;
  }

  .main__title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 236px;
  }

  .main__section-concentrate .main__title:first-child {
    margin: 0;
  }


  .main__section-concentrate {
    display: grid;
    grid-template-columns: fit-content(236px) 1fr;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .main__section-concentrate-reasons {
    margin-bottom: 80px;
  }

  .main__section-concentrate-adviсe {
    display: grid;
    grid-template-columns: fit-content(236px) 1fr;
    gap: 20px;
  }

  .main__section-foto {
    padding: 80px 20px 60px 20px;
  }

  .main__section-foto-list {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .foto-sunset {
    grid-column: 1 /3;
    grid-row: 1 / 2;
  }

  .foto-sweets {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .foto-cassette {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .foto-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .foto-street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }
  
}

@media (width >= 1024px) {

  .header {
    align-items: start;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 129.525px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header__description {
    align-self: center;
    min-width: 491px;
  }

  .main__title {
    min-width: 314px;
  }

  .main__section-concentrate-reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 129.525px;
  }
}


