/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image-header);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  inline-size: 100%;
  margin: 0;
}

.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  align-items: center;
  position: relative;
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  border-block-start: 1px solid  var( --accent-color);
  border-inline-end: 1px solid  var( --accent-color);
  justify-self: flex-end;
  align-self: start;
  position: absolute;
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid  var( --accent-color);
  border-block-end: 1px solid  var( --accent-color);
  justify-self: flex-end;
  align-self: start;
  justify-self: start;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__decorative-element::after {
  content: '';
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 3px;

  background-color: var(--accent-color);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 42px;
}



.header__decorative-element {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 25px;
  align-self: end;
  margin-inline-end: 28px;
  display: flex;
  align-items: center;
}


.header__theme-menu {
  color: var(--accent-color);
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 18px;
} 

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 3px 13px;
  background-color: transparent;
  color: var(--accent-color);
  text-align: center;
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  color: var(--focus-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--main-fonts);
  font-size: clamp(7.25rem, 4.1799rem + 13.099vw, 9.8125rem);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 95.7px;
}

.title-decor {
  background-color: var(--accent-color);
}

.description-text {
  color: var(--accent-text-color);
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 23px;
}

.main__title {
  margin-block-start: 50px;
  margin-block-end: 20px;
  color: var(--accent-color);
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 23.4px;
}

.main__section-concentrate .main__title:first-child {
  margin-block-start: 40px;
}

.main {
  padding: 0 10px;
}

.main-block-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-title {
  color: var(--main-bg-color);
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.block-description {
  color: var(--main-text-color) ;
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.description-link {
  text-decoration: none;
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  text-shadow: 2px 1px 0 var(--accent-color);
}


.block-title-font-normal {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-family: var(--main-fonts);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.main__section-concentrate-reasons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-foto {
  padding: 50px 10px 40px 10px;
}

.main__section-foto-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.main__section-foto-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  padding: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  color: var(--focus-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--main-fonts);
  font-size: clamp(7.25rem, 4.1799rem + 13.099vw, 9.8125rem);
  font-style: normal;
  font-weight: var(--header-font-weight);
  line-height: 95.7px;
}

/* Далее → медиазапросы на планшет и десктоп */