/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-size: 18px;
  --bg-image-header: url("../images/cover-image-dark.png");
  --main-bg-color: #000028;
  --main-bg-fone: #000028;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --focus-color: #DB00FF;
  --text-shadow-color: #FF0070;
  --shadow-link: #FF8DCB;
  --bg-color-dekor: #FF0070;
  --header-font-weight: 700;
  --font-weight-normal: 400;
}
